<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hramos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

    </div>
  </nav>

  <header class="jumbotron">
    <div class="container">
      <div class="row row-header">
        <div class="col-12 col-sm-6">
          <h1>Titanic historia de un desastre</h1>
          <p> Un modelo de clasificación inspirando en entender como las caracteristicas de los pasajeros han podido
            determinar su sobreviviencia, este tipo de tareas busca conocer en el fondo cuales son las debilidades que
            no han sido cubierta por los diseños y atacarlas de manera de reducir la cantidad de fallecidos en eventos
            desastrosos.</p>
        </div>

      </div>
    </div>
  </header>

  <!-- Form -->
  <div class="container">
    <form>
       <!-- Sex -->
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputState">Sexo </label>
          <select id="inputState" class="form-control">
            <option selected>Hombre</option>
            <option>Mujer</option>
          </select>
        </div>
        <!-- Class Group-->
        <div class="form-group col-md-2">
          <label for="inputState">Clase </label>
          <select id="inputState" class="form-control">
            <option selected>Primera Clase</option>
            <option>Segunda Clase</option>
            <option>Tercera Clase</option>
          </select>
        </div>
        <br>
        <br>
         <!-- Age -->
        <div class="form-group col-md-4">
          <label for="Age" class="form-label">Age</label>
          <br>
          <input type="range" value="0" class="form-range" min="0" max="80" step="1" id="Age"
            oninput="this.nextElementSibling.value = this.value">
          <output>24</output>
        </div>

      </div>

  </div>

  </form>
  </div>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>